PORT=3000
HOST=127.0.0.1
LOG_LEVEL=info
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mobammo?schema=public"
SESSION_SERVER_HOST=127.0.0.1
SESSION_SERVER_PORT=7777
SESSION_SERVER_MAP=/Game/ThirdPerson/Lvl_ThirdPerson
